#nav {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 1px solid gray;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  float: right;
  margin-left: 10px;
}
#home-body{
	background-color: #7891ba;
}
img{
	margin-left: 25%;
	margin-right: 25%;
}
#contact-body {
	background-image: url("images/Smofried-Smoke.png");

}
h1 {
	color: #0de2aa;
}
#contact {
	color: #0de2aa;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
th {
    text-align: left;
}
table {
    border-spacing: 5px;
}

